!!! 5
%html
  %head
    %title Away day form
  %body
    %form{:action => '/talk', :method => "POST"}
      %label{:for=>'name'} Name
      %input#name{:name=> 'name'}
      %label{:for=>'talk_title'} Talk Title
      %input#talk_title{:name=> 'talk_title'}
      %label{:for=>'subject'} Subject
      %input#subject{:name=> 'subject'}
      %label{:for=>'category'} Category
      %input#category{:name=> 'category'}
      %label{:for=>'duration'} Duration
      %input#duration{:name=> 'duration'}
      %input{:type=>'submit', :value=> 'Submit'}
