!!! 5
%html
  %head
    %title Away day form
  %body
    %form
      %label{:for=>'name'} Name
      %input#name
      %label{:for=>'talk_title'} Talk Title
      %input#talk_title
      %label{:for=>'subject'} Subject
      %input#subject
      %label{:for=>'category'} Category
      %input#category
      %label{:for=>'duration'} Duration
      %input#duration
      %input{:type=>'submit'}
