!!! 5
%html
  %head
    %title Away day form
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'http://fonts.googleapis.com/css?family=Lobster+Two:400,700|Lobster'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'css/awayday.css', :media=>'screen'}
  %body
    %h1.headline Away Day Brazil
    = yield
