!!! 5
%html
  %head
    %title Away Day Brazil Submission
    != css :awayday
  %body
    %h1.headline Away Day Brazil
    #message_container
      =haml :notice
      =haml :error, :locals => {:errors => session[:errors]}
    #container
      = yield
      #faq
        %a{:href => "#", :title => "See the frequent asked questions"} Faq
