$green: #228B22;
$lighter-green: lighten($green, 10%);
$light-green: lighten($green, 40%);
$darker-green: darken($green, 10%);
$dark-green: darken($green, 40%);

$red: red;
$darker-red: darken($red, 10%);
$light-red: lighten($red, 40%);

@font-face {
  font-family: Lobster;
  src: url('/fonts/Lobster/Lobster.ttf');
}

@font-face {
  font-family: LobsterTwo;
  src: url('/fonts/Lobster_Two/LobsterTwo-Regular.ttf');
}

@mixin message-box($from-color, $to-color, $border) {
  position: relative;

  font-size: 20px;
  text-align: center;

  margin: 2px 6px 18px 0px;
  padding: 7px 15px;

  color: white;

  background-color: $to-color;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from($from-color), to($to-color));
  background-image: -moz-linear-gradient(top, $from-color, $to-color);
  background-image: -ms-linear-gradient(top, $from-color, $to-color);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from-color), color-stop(100%, $to-color));
  background-image: -webkit-linear-gradient(top, $from-color, $to-color);
  background-image: -o-linear-gradient(top, $from-color, $to-color);
  background-image: linear-gradient(top, $from-color, $to-color);

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: $to-color $to-color $border;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-style: solid;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

body {
  font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
  background: #F2F2F2 url("/images/background.png") top center;
}


#header-container {
  position:relative;
  width: 400px;
  float: center;
  margin: auto;
}

#faq-container {
  position:relative;
  width: 600px;
  float: center;
  margin: auto;
  margin-top: 50px;
  .question {
    margin-bottom: 5px;
    color: #666;
    font-size: 24px;
    font-family: LobsterTwo;
  }
  .answer {
    margin-top: 5px;
    color: #888;
    font-size: 18px;
    margin-left: 10px;
  }
}

#message_container {
  width: 500px;
  float: center;
  margin: auto;
}

#form-container {
  position:relative;
  width: 400px;
  float: center;
  margin: auto;
}

label {
  color: #777;
  font-size: 18px;
}

input[type="text"], input[type="email"] {
  color: #666;
  font-size: 20px;
  margin: 2px 6px 10px 0px;
  padding: 5px 7px 5px 5px;
  width: 97%;
  border: 2px solid #E5E5E5;
  background: #FBFBFB;
}

input[type="radio"] {
  color: #666;
  margin: 5px 0px 10px 10px;
  padding: 5px 7px 5px 5px;
}

select {
  color: #666;
  font-size: 18px;
  margin: 5px 0px 15px 0px;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #CCC;
  font-size: 16px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #CCC;
  font-size: 16px;
}

textarea {
  color: #666;
  font: 18px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
  margin: 2px 6px 10px 0px;
  padding: 5px 7px 5px 5px;
  width: 97%;
  height: 70px;
  border: 2px solid #E5E5E5;
  background: #FBFBFB;
}

#duration {
  color: #666;
  font-size: 20px;
  padding: 0px 5px 10px 15px;
  margin: 2px;
}

#duration .input {
  margin-right: 5px;
}

.submit {
  background-color: $green;
  cursor: pointer;
  text-transform: uppercase;
  padding: 9px 30px;
  text-align: center;
  width: 50%;
  float: left;
  margin-left: 25%;
  color: #FFF;
  border: 2px solid #DDD;
  &:hover {
    background-color: $light-green;
    color: $darker-green;
  }

}
a {
  text-decoration: none;
}

.headline {
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  font-size: 52px;
  color: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62C462), color-stop(100%, #57A957));
  color: -webkit-linear-gradient(top, #62C462, #57A957);
  color: -moz-linear-gradient(top, #62C462, #57A957);
  color: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
  color: linear-gradient(top, #62C462, #57A957);
  color: #57A957;
  margin: 0px 10px 25px 10px;
  font-family: 'Lobster';
}

.button {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 2px;
  margin-left: 25%;
  margin-bottom: 25px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 50%;
  float: left;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  font-family: 'Lobster';
  font-size: 28px;
  &:hover {
    text-decoration: none;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.green {
  color: #e8f0de;
  border: solid 1px #538312;
  background: #64991e;
  background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
  background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
  &:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
  }
  &:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
  }
}

.notice {
  @include message-box(#62C462, #57A957, #3D773D);
}

.error {
  @include message-box(#EE5F5B, #C43C35, #882A25);
  ul {
    li {
      font-size: 14px;
      padding: 2px 2px 2px 2px;
      border: none;
      margin-bottom: 1px;
      text-align: left;
      background: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

#faq {
  position:absolute;
  top:-75px;
  left:-180px;
  padding: 5px 0 8px 15px;
  width:270px;
  height:25px;
  background-color: #E01920;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E01920), to(#9E090E));
  background-image: -moz-linear-gradient(top, #E01920, #9E090E);
  -moz-box-shadow: 0 1px 2px black;
  -webkit-box-shadow: 0 1px 2px black;
  box-shadow: 0 1px 2px black;
  a {
    font-family: 'Lobster';
    font-size:20px;
    text-shadow: 0 -1px 1px #3D0203;
    border: 1px dashed #faa;
    color: #fff;
    display: block;
    margin: -0.15em 0;
    margin-left: -0.65em;
    padding: 0.1em 1.5em 0.3em 1em;
    text-decoration: none;
  }
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

.talks {
  margin-top: 40px;
  .empty {
    a{
      display: block;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
      font-size: 52px;
      color: #AAA;
      color: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
      color: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
      width: 500px;
      margin:  auto;
      margin-top:  120px;
      font-family: 'Lobster';
      font-size: 52px;
    }
  }
}

.talks > ul > li {
  display: inline
}

section.talk {
  width: 280px;
  height: 280px;
  float: left;
  padding: 10px;
  margin: 10px 10px 5px 5px;
  overflow: hidden;
  background-color: rgba(164, 234, 174, 0.6);
  -webkit-box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
  -o-box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
  box-shadow: 0 1px 2px rgba(29, 41, 41, 0.5);
  &:hover {
    background-color: rgba(164, 234, 174, 0.8);
  }
  h1 {
    font-size: 18px;
    margin: 2px;
    color: #444;
  }
  h2 {
    font-size: 14px;
    margin: 2px;
    color: #666;
  }
  .header {
    font-weight:bold;
    height: 118px;
    border-bottom: 2px solid rgba(164, 234, 174, 0.9);
    padding-bottom: 5px;
    span {
      margin-left: 3px;
    }
  }
  .content {
    padding: 5px;
    height: 128px;
  }
  .footer {
    border-top: 2px solid rgba(164, 234, 174, 0.9);
    padding-top: 5px;
    font-weight:bold;
    .category {
      float: left;
    }
    .duration {
      float: right;
    }
  }
}
